<ion-modal-view>

	<ion-header-bar>
		<h1 class="title">Neues Angebot</h1>
	</ion-header-bar>
	<!-- Navbar Buttons -->
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon ion-plus-round" ng-click="Browse.createPost()"></a>
	</ion-nav-buttons>

	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Titel">
			</label>
			<label class="item item-input">
				<textarea rows="10" placeholder="Beschreibung"></textarea>
			</label>
		</div>
	</ion-content>

</ion-modal-view>