<ion-view title="Login" hide-back-button=true>
  <ion-content class="padding">
    <ion-item class="card padding">
      <div class="item-text-wrap padding">
        Lorem ipsum
      </div>

      <label class="item item-input">
        <input type="text" ng-model="Login.credentials.username" placeholder="Login.UserName" />
      </label>
      <label class="item item-input">
        <input type="password" ng-model="Login.credentials.password" placeholder="Login.Password" />
      </label>
      <p>{{Login.credentials}}</p>
      <div class="padding">
        <button class="button button-block" ng-click="Login.doLoginAction()">Login</button>
        <button class="button button-block" ng-click="Login.doCreateAccountAction()">Create Account</button>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
