
<ion-view title="Browse">

	<!-- Navbar Buttons -->
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon ion-plus-round" ng-click="Browse.createPost()"></a>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right item-thumbnail-left" ng-repeat="post in Browse.posts" ui-sref="notabs.post({postId: post._id })">
				<img src="http://i.imgur.com/{{post.imageIDs[0]}}b.jpg" ng-if="post.imageIDs[0]">
				<img src="http://i.imgur.com/63f1Hotb.jpg" ng-if="!post.imageIDs[0]">
				<h2>{{post.title}}</h2>
				<p>{{post.text}}</p>
				<i class="icon ion-ios-arrow-forward positive"></i>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>
