
<ion-nav-bar>
	<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
	</ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view name="notabs"></ion-nav-view>

<ion-tabs class="tabs-icon-top">

	<!-- Browse Tab -->
	<ion-tab title="Browse" icon="icon ion-search" href="#/tab/browse">
		<ion-nav-view name="tab-browse"></ion-nav-view>
	</ion-tab>


	<!-- Favorites Tab -->
	<ion-tab title="Favorites" icon="icon ion-star" href="#/tab/favorites">
		<ion-nav-view name="tab-favorites"></ion-nav-view>
	</ion-tab>


	<!-- Notifications Tab -->
	<ion-tab title="Notifications" icon="icon ion-ios-bell" href="#/tab/notifications">
	<ion-nav-view name="tab-notifications"></ion-nav-view>
	</ion-tab>


	<!-- Chats Tab -->
	<ion-tab title="Chats" icon="icon ion-chatbubbles" href="#/tab/chats">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

</ion-tabs>
